<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/category/preroll">Preroll</a></li>
    <li><a href="/category/flower">Flower</a></li>
    <li><a href="/category/concentrates">Concentrate</a></li>
    <li><a href="/category/edible">Edibles</a></li>
    <li><a href="/category/vaporizer">Vaporizers</a></li>
  </ul>
  <div>
    <% if (isLoggedIn) { %>
    <a href="/users/logout" class="button">Logout</a>
    <% if (isAdmin) { %>
    <a href="/users/register" class="button">Register User</a>
    <% } %>
    <% } else { %>
    
    <% } %>
    <a href="/toggle-database" class="button">Switch to <%= useMongoDB ? 'PostgreSQL' : 'MongoDB' %></a>
    <a href="/users/login" class="signin-btn">Sign In</a>
  </div>
</nav>
