<%- include('./partials/header.ejs') %>
<body>
    <h1>Welcome to the GreenStop Inventory</h1>
  <nav>
    <ul>
      <li><a href="#">Prerolls</a></li>
      <li><a href="#">Flower</a></li>
      <li><a href="#">Concentrate</a></li>
      <li><a href="#">Edibles</a></li>
      <li><a href="#">Vaporizers</a></li>
    </ul>
    <div>
        <a href="/users/login"><button class="signin-btn">Sign In</button></a>
    </div>
    </div>
  </nav>

  <div class="search-container">
    <input type="text" placeholder="Search..." />
    <button>Search</button>
  </div>
</body>
