<%- include('./partials/header.ejs') %>
<body>
    <h1>Welcome to the GreenStop Inventory</h1>
<%- include('./partials/nav') %>

<div class="search-container">
  <form action="/search" method="GET">
    <input type="text" name="q" placeholder="Search..." />
    <button type="submit" class="button">Search</button> <!-- Updated -->
  </form>
</div>

</body>
