<%- include('./partials/header.ejs') %>
<body>
    <h1>Login</h1>
    <form action="/users/login" method="post" class="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required class="input-field">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required class="input-field">
        <!-- Button container -->
        <div class="button-container">
            <button type="submit" class="button">Login</button>
            <a href="/" class="button">Home</a>
        </div>
    </form>
</body>


