<%- include('./partials/header.ejs') %>
<body>
    <h1>Register User</h1>
<%- include('./partials/nav') %>

<form action="/users/register" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <label for="isAdmin">Admin:</label><br>
    <input type="checkbox" id="isAdmin" name="isAdmin"><br>
    <input type="submit" value="Register">
</form>
  </div>
</body>
